[Unit]
Description=tp_etcd
After=network.target

[Service]
User=root
Type=notify
EnvironmentFile=/opt/ha_pieclouddb_tp/tp_etcd/tp_etcd.env 
ExecStart=/opt/ha_pieclouddb_tp/tp_etcd/bin/etcd
NotifyAccess=all
RestartSec=10s
LimitNOFILE=40000
Restart=always

[Install]
WantedBy=multi-user.target
