[Unit]
Description=Manages Virtual IP for Patroni
After=network-online.target
Before=patroni.service

[Service]
Type=simple

ExecStart=/opt/ha_pieclouddb_tp/tp_vip/vip-manager --config /opt/ha_pieclouddb_tp/tp_vip/vip_manager.yml

Restart=on-failure

[Install]
WantedBy=multi-user.target
